*{
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #FFF;
    font-size: 15px;
    line-height: 1.5;
    background: #001821;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4, p{
    margin: 0;
}

p {
    margin-top: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

button {
    border: 1px solid transparent;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

.address {
    font-style: normal;
}

.container{
    width: 1141px;
    margin: 0 auto;
    
}

.wrapper{
    overflow: hidden;
}

.wrapper {
    background: url("./img/1.png") center top no-repeat, url('./img/2.png') right bottom no-repeat;
}

.header {
    position: relative;
    height: 120px;
    margin-bottom: 87px;
}

.logo__icon {
    display: block;
    left: 0;
    top: 37px;
}

.foter .logo__link {
    left: 0;
    bottom: 37px;
}


.menu{
    left: 50%;
    transform: translateX(-149%);
    top: 48px;
}

/* .menu-footer{
    left: 50%;
    transform: translateX(-149%);
    bottom: 48px;
}
 */
.logo__icon , .menu , .contacts, {
    position: absolute;
}

.menu__item{
    display: inline-block;
    margin-right: 50px;
    vertical-align: middle;
}

.menu__item:last-child{
    margin-right: 0;
}

menu__link {
    font-size: 14px;
}

.menu__link:hover {
    color: #fff;
}

.contacts  {
    right: 0;
    top: 35px;
    font-style: normal;
    text-align: right;
}
/* .contacts-footer {
    right: 0;
    bottom: 31px;
    font-style: normal;
    text-align: right;
} */

.contacts__tel {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: -12px;
}

.contacts__graph {
    font-size: 13px;
    text-decoration: underline;
    color: #fff;
   
}

.contacts__tel{
    display: block;
}

.contacts__free-call {
    color:  #9A9A9A;
    font-size: 11px;
}

.preview__title {
    width: 510px;
    font-size: 72px;
    font-weight: 700;
    line-height: 97px; 
}

.preview__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 33px;
    margin-top: 29px;
}

.button{
    background-color: #F5170E;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    border-radius: 35px;
    text-transform: uppercase;
    padding: 19px 39px ;
    text-decoration: none;
}

.button--border{
    background-color: transparent;
    color: #F5170E;
    border-color: #F5170E;

}

.tours {
    margin-bottom: 138px;
}

.tours__img {
    display: block;
    width: 359px;
    height: 163px
}


.tours__title-text{
    display: inline-block;
    margin-top: 246px;
    
}

.tours__title{
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    line-height: 49.03px;
    margin-right: 20px;
    height: 325px;
    width: 557px;
    position: relative;
}

.tours__title:last-child{
    margin-right: 0;
}

.tours__item{
   display: inline-block;
   width: 358px;
   margin-right: 28px;
   min-height: 162px;
   background: #FFF;  
   border-radius: 5px, 5px, 0px, 0px;

}

.tours__item:last-child{
    margin-right: 0;
}


.tours__content{
    position: relative;
    padding: 36px 30px ;
    color: #303030;
}

.tours__subtitle {
font-size: 24px;
font-weight: 700;
line-height: 33px;
letter-spacing: 0px;
text-align: left;
}

.tours__feature-block { 
    display: inline-block;
    vertical-align: top;
    width: 136px;
    margin-right: 10px;
}

.tours__feature-text {
    color: #666666;
    position: relative;
    display: inline-block;
}

.tours__feature{
    margin-bottom: 28px;
    margin-top: 13px;
}
 
.news {
    margin-bottom: 55px;

}

.news__header{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 22px;
}

.news__title {
    display: inline-block;
    width: 541px;
    vertical-align: top;
    position: relative;
    margin-right: 27px;
    min-height: 500px;
}

.news__bg {
    display: block;
    width: 557px;
    height: 357px;
    object-fit: cover;
    border-radius: 4px;
    overflow: hidden;
    opacity: 40%;
}

.news__date {
    font-size: 14px;
    margin-bottom: 18px;
}

.news__subtitle {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}

.news__content{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    padding: 25px 30px;
    min-height: 140px;
}

.paginator {
    text-align: center;

}
.paginator__display, .paginator__list{
    display: inline-block;
    vertical-align: middle;
} 

.paginator__display {
    margin-right: 26px;
}

.paginator__item {
    display: inline-block;
    vertical-align: middle;
}
.paginator__link{
    display: block;
    height: 32px;
    width: 32px;
    background: transparent;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    border-radius: 50%;
    line-height: 32px;
    transition: .4s;
    text-decoration: none;
    position: relative;
}


.paginator__link:hover {
    background: #F5170E;
}

.about__content {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 488px;
    height: 502px;
    background: url("./img/gates.png") center center / cover no-repeat;
}

.about__content-desc {
    background: #656565;
    padding: 80px 90px;
    display: inline-block;
    vertical-align: top;
    width: 780px;
    margin-top: 97px;
    margin-left: 352px;
}

.about__title {
    font-weight: 700;
    font-size: 36px;
    color: #000;
    margin-bottom: 48px;
}

.about__info {
    color: #000;
    font-size: 16px;
    margin-bottom: 42px;
}

.about__info p {
    margin-bottom: 20px;
}

.about__info p:last-child{
    margin-bottom: 0;
}
.footer {
    height: 152px;
    position: relative;
} 

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
}

.socials__item{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.socials {
    top: 83px;
    right: 254px;
    position: absolute;

}
.socials__item :last-child{
    margin-right: 0;
}

.socials__item--icon--telegram .socials__link {
    background-image: url("./img/telegram.png");
}
.socials__item--icon--telegram .socials__link :hover{
    background-image: url(".img/telegram-hover.png");
}

.socials__item--icon--vk .socials__link {
    background-image: url("./img/vk.png");
}
.socials__item--icon--vk .socials__link :hover{
    background-image: url(".img/vk-hover.png");
}

.socials__item--icon--fb .socials__link {
    background-image: url("./img/f.png");
}
.socials__item--icon--fb .socials__link :hover{
    background-image: url("./img/f-hover.png");
}

.socials__item--icon--Instagram .socials__link {
    background-image: url("./img/in.png");
}
.socials__item--icon--Instagram .socials__link :hover{
    background-image: url("./img/in-hover.png");
}

.footer-container__content {
    border-top: 1px solid #fff;

}
